.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.container {
    margin: 1rem auto;
}

.navbar {
    background-color: #5640b3;
}

.site-footer {
    background-color: #5640b3;
    color: #6ae2e7;
}

.site-footer svg {
    color: #6ae2e7;
}

.media {
    background-color: #cccccc;
}

.media img {
    padding-right: 1rem;
    max-width: 35%;
}

.media-body {
    min-width: 60%;
}

.media-heading {
    color: #5640b3;
}

#splash {
    max-width: 100%;
    min-height: 700px;
    background: url('/assets/images/gear.jpg') center;
    background-size: cover;
}

#splash .row {
    height: 600px;
}

#splash p {
    text-shadow: 2px 2px 4px black;
}

#event {
    background-color: #cccccc;
}

#event #date {
    background-color: #999999;
}

#event #title {
    color: #5640b3;
}
